.carrossel_titulo{
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: var(--laranja);
    padding: 1em 0 0.5em 0;
}